.error {
  
  &_container {
    @include flex_center_column;
    width: 100vw;
    height: 100vh;
    background: #00bc77d3;
    cursor: default;
  }

  &_code {
    font-size: 25rem;
    font-weight: 700;
    color: $primary-color;
    animation: errorCode 4s cubic-bezier(0.9, 0.1, 1.0, 1.0) infinite;
  }

  &_homebutton {
    @include flex_center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: $primary-color;
    color: $font-secondary-color;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    animation: errorButton 5s ease-in-out infinite;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &_text {
    font-size: 1.1rem;
    font-weight: 400;
    color: $quaternary-color;

    &:first-of-type {
      margin-top: 1.2rem;
    }

    &:not(:first-of-type) {
      margin-top: 0.2rem;
    }
  }

  &_details {
    @include flex_center_column;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: $primary-color;
    color: $font-secondary-color;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: darken($color: $primary-color, $amount: 5%);
      cursor: pointer;
    }
  }
}


@keyframes errorCode {
  0% {
    transform: scale(0.01);
    color: $primary-color; 
    opacity: 1;
  }
  8% {
    transform: scale(1.7);
    color: $primary-color;
    opacity: 1;
  }
  10% {
    color: $secondary-color;
  }
  100% {
    transform: scale(0.01);
    opacity: 0.1;
  }
}

@keyframes errorButton {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}


