.sign-in {

  &-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $primary-color;
    background-color: $primary-color;
    color: #fff;
    text-decoration: underline;
  }

  &-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    color: $font-primary-color;

    &_logo {
      margin-bottom: 1rem;

      svg {
        width: 25px;
        height: 25px;
        fill: $font-primary-color;
      }
    }

    &_title {
      font-size: 1.5rem;
      font-weight:800;
      margin-bottom: 1rem;
    }
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  
  & label {
    font-weight: bold;
  }
  
  & input {
    padding: 5px;
    font-size: 1.2rem;
  }

  &:last-of-type {
    flex-direction: row-reverse;
    justify-content: start;

    & label {
      margin-left: 0.5rem;
    }
  }
}

#username,
#password {
  border: 1px solid $tertiary-color;
}