.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  & a {
    text-decoration: none;
    font-weight: bold;
    color: $font-primary-color;
  }

  & a.router-link-exact-active {
    color: #42b983;
  }

  &-item {
    &_container {
      @include flex_center_row;
    }

    &_contents {
      @include flex_center;
      text-decoration: none;
      margin-right: 0.5rem;
      font-weight: 700;
    
      & svg {
        margin-right: 0.25rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-logo {
  
    &_container {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    &_text1,
    &_text2 {
      width: fit-content;
      font-size: 1.7rem;
      padding: 0.6rem 0;
    }

    &_text1 {
      color: $font-logo-text1-color;
    }

    &_text2 {
      color: $font-logo-text2-color;
    }
  }
}
