.account {

  &_wrapper {
    @include flex_center_col umn;
  }

  &_header_balance {

    &_container {
      @include flex_center_column;
      width: 100%;
      font-weight: 600;
      border: 2px solid $primary-border-color;
      padding: 1rem;
    }

    &_title {
      @include flex_center;
    }

    &_amount {
      @include flex_center;
      font-size: 1.8rem;
    }

    &_available {
      @include flex_center;
      font-size: 0.7rem;
    }
  }

  &_transactions {

    &_wrapper {
      @include flex_center_column;
      justify-content: flex-start;
      width: 100%;
      padding: 3rem 0 2rem 0;
      background: $tertiary-color;
    }
  }

  &_transaction {

    &_container {
      @include flex_center_row;
      width: 90%;
      padding: 1rem;
      background: #fff;
      border: 2px solid $primary-border-color;
      font-size: 0.9rem;

      &:not(:last-child) {
        border-bottom: none;
      }
    }

    &_date,
    &_amount,
    &_balance {
      width: 20%;
    }

    &_description {
      width: 40%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
    }
  }
}