.account {

  &_wrapper {
    @include flex_center_column;
    flex: 1;
  }

  &_header_balance {

    &_container {
      @include flex_center_column;
      width: 100%;
      font-weight: 600;
      border: 2px solid $primary-border-color;
      padding: 1rem;
    }

    &_title {
      @include flex_center;
      font-size: 1.2rem;
    }

    &_amount {
      @include flex_center;
      font-size: 2rem;
    }

    &_available {
      @include flex_center;
      font-size: 0.9rem;
    }
  }

  &_transactions {

    &_wrapper {
      @include flex_center_column;
      justify-content: flex-start;
      width: 100%;
      padding: 3rem 0 2rem 0;
      background: $tertiary-color;
      flex:1;
    }

    &_menu {

      &_container {
        @include flex_center;
        width: 90%;
        padding: 0.5rem 1rem;
        background: $primary-color;
        font-size: 0.9rem;
        color: #fff;
      }

      &_chevron {
        width: 8%;
      }

      &_date {
        width:17%;
        text-align: left;
      }

      &_description {
        width: 35%;
      }

      &_amount,
      &_balance {
        width: 20%;
      }

    }
  }

  &_transaction {

    &_wrapper {
      @include flex_center_column;
      width: 90%;
      padding: 1rem;
      background: #fff;
      border: 2px solid $primary-border-color;
      font-size: 0.9rem;

      &:not(:last-child) {
        border-bottom: none;
      }
    }

    &_container {
      @include flex_center;
      width: 100%;
    }

    &_chevron {
      width: 8%;
    }

    &_date {
      width:17%;
      text-align: left;
    }

    &_amount,
    &_balance {
      width: 20%;
    }

    &_description {
      width: 35%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
    }
  }
}