$primary-color: #00BC77;
$secondary-color: #005835;
$tertiary-color: #12002B;
$quaternary-color: #2c3e50;

$font-primary-color: #2c3e50;
$font-secondary-color: #fff;
$font-logo-text1-color: $primary-color;
$font-logo-text2-color: $secondary-color;


$primary-border-color: #C3CFD9;

$placeholder-font-color: #C3CFD9;

$font: 'Avenir' ,Helvetica, Arial, sans-serif;